.checkbox.ui {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .checkbox.ui label {
    text-indent: -10000px;
  }
}
.complete {
  text-decoration: line-through;
}
.task-list {
  margin-bottom: 10px;
}