.ui.image-lib {
  margin-left: 10px;
  z-index: 0;
  margin-top: 1em;
  position: relative;
  height: 165px;
  display: inline-block;
}

.ui.image-lib > img {
  position: absolute;
  max-height: 150px;
  transform: rotateY(30deg) rotateZ(358deg);
  -webkit-transform: rotateY(30deg) rotateZ(358deg);
  -webkit-transition-property: margin-top, -webkit-transform, opacity;
  transition-property: margin-top, transform, opacity;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}

.ui.image-lib img.sibling-of-selected {
  opacity: 0.2;
 }
 
 .ui.image-lib img.selected {
  transform: rotateY(0deg) rotateZ(359.9deg);
  -webkit-transform: rotateY(0deg) rotateZ(359.9deg);
  margin-top: -60px;
 }